{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure            {:mvn/version "1.10.1"}}
 :aliases {:run  {:main-opts ["-m" "clojure-sandbox.core"]}
           :test {:extra-paths ["test" "test-resources"]
                  :extra-deps  {cljfmt/cljfmt             {:mvn/version "0.6.4"}
                                cheshire/cheshire         {:mvn/version "5.9.0"}
                                midje/midje               {:mvn/version "1.9.9"}
                                lambdaisland/kaocha       {:mvn/version "0.0-541"}
                                lambdaisland/kaocha-midje {:mvn/version "0.0-5"}}}
           :uberjar {:extra-deps {uberdeps/uberdeps {:mvn/version "0.1.4"}}
                     :main-opts  ["-m" "uberdeps.uberjar"]}
           :nrepl   {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
                     :main-opts  ["-m" "nrepl.cmdline"]}}}
